body{
    margin: auto;
    text-align: center;
}


.plan_container{
    margin: auto;
    margin-top: 30px;
    width: 800px;
    height: 700px;
    background-color: rgb(245, 216, 179);
    border-style: double;
    position: center;
    padding: 10px;
}
.tablelabel{
    width: 300px;
    height: 40px;
    background-color: #EE9560;
    border-style: unset;
}
table{
    margin: auto;
    width: 100%;
    height: 60%;
    font-size: 25px;
}
table, th, td {
    padding: 20px;
    border-style: unset;
}
.cont_button{
    width: 500px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    background-color: #EE9560;
    border-radius: 10px;
    border-style: unset;
}

.free{
    width: 500px;
    height: 50px;
    font-size: 20px;
    background-color:rgb(245, 216, 179);
    border-style: unset;
}
.free:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color:rgb(28, 121, 197);
}

.cont_button:hover{
    border-style: solid;
    border-color: rgb(28, 121, 197);
    cursor: pointer;
}

input{
    cursor: pointer;
    width: 20px;
    height: 20px;
}