i*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:'Montserrat', sans-serif;
    background-color: #ffffff;
}


.logo img{
    width: 100px;
    float: left;
    height: auto;
}


.welcome-text{
    position:absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: left;
}

.welcome-text h1{
    text-align: left;
    color:black;
    font-size: 40px;
}

.welcome-text a{
    border-radius: 12px;
    background-color: #dd9d12;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
}


.explore{
    height: 20px;
    width: 20px;
}

.split{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top:0;
    overflow-x: hidden;
    padding-top: 20px;
}
.split-page{
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top:0;
    overflow-x: hidden;
    padding-top: 20px;
}
.left{
    left:0;
    background-color: #ffffff;
}

.right{
    right:0;
    background-color: #ffffff;
}

.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px ;
}

.centered img{
    width: 500px;
    border-radius: 50%;
}


.buttonmember{

    position: relative;
    background-color: #F05945;
    border: none;
    color: #484745;
    padding: 20px;
    margin: 20px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 12px;
    
}

.buttonadmin{

    position: relative;
    background-color: #5EAAA8;
    border: none;
    color: #484745;
    padding: 20px;
    margin: 20px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    border-radius: 12px;

}

.buttonadmin:hover{
    opacity: 1;
}


.buttonmember:hover{
    opacity: 1;
}

.hello{
    margin:0;
    font-size: 50px;
    font-weight: 900;
}

.description{

    font-size: 20px;
    font-weight: 600;
}

/*-------------------------------------- Home ----------------------------------*/
@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding: 0px;
	background-color:#FFFFFF;
}
a{
	text-decoration:none;
}
.box{
	width:300px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}
.bannerbox{
	width:100%;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
	border-radius: 10px;
	overflow: hidden;
	margin: 25px;
}
.bannerfield{

    margin-left: 44%;
    margin-right: auto;
    width: 13%;

}

.slide-img{
	height: 450px;
	position:relative;
}
.slide-img img{
	width:100%;
	height: 100%;
	object-fit: cover;
	box-sizing: border-box;
}
.detail-box{
	width: 100%;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	box-sizing: border-box;
	font-family: calibri;
}
.type{
	display: flex;
	flex-direction: column;
}
.type a{
	color:#222222;
	margin: 5px 0px;
	font-weight: 700;
	letter-spacing: 0.5px;
	padding-right: 8px;
}
.type span{
	color:rgba(26,26,26,0.5);
}

.overlay{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width:100%;
	height: 100%;
	background-color: rgba(168, 167, 167, 0.541);
	display: flex;
	justify-content: center;
	align-items: center;
}

.overlay{
	visibility: hidden;
}
.slide-img:hover .overlay{
	visibility: visible;
	animation:fade 0.5s;
}

@keyframes fade{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.slider{
	width:100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

img {
	display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
	width: 100%;
	height: 100%;
  }
  .header {
	padding: 160px;
	text-align:left;
	background: white;
	color: black;
	font-size: 30px;
	
  }
  .slider{
	width:100%;
	height:30vh;
	display: flex;
	justify-content: center;
	align-items: center;
}



.outterlayer{
    width:100%;
    height:10;
    float: left;
    background-color: #ffffff;
}
.filtericon{
    float: right;
    width:50;
    height:10;
    background-color: #cf6627;
    padding-top: 10px;
    text-align: right;
    font-weight: bold;
    border-radius: 10px;
}
.filtericon img{
    float: left;
    margin: 10px;
    height: auto;
    width: 30px;
}
.top5container{
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.top5{
    height: 500px;
    width: 70%;
    background-color: #484745;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}


.bannercontainer{
    font-weight: bold;
    overflow: hidden;
    height: 300px;
    width: 200px;
    border-radius: 10px;
    background-color: #acabaa;
    margin:10px;
    justify-content: center;
    overflow: hidden;
}


/*-------------------------------------- end Home ----------------------------------*/